    <header>
        <a ng-click="ctrl.toMainPage()">
            <img class="logo vertical-centre horizontal-centre" alt="Citizens Of Canada Logo" src="assets/img/logo.png">
        </a>
        <nav class="global-nav">
            <ul class="nav-links">
            <li>
                <div class="dropdown">
                    <a><span><my-comment-picture></my-comment-picture>{{ctrl.initUser}}</span></a>
                    <div class="dropdown-content">
                    <ul>
                        <li>Sign-out</li>
                    </ul>
                    </div>
                </div>
            </li>
            <li><a ng-click='ctrl.toAboutPage()'>About</a></li>
            <li><a ng-click='ctrl.toBillWatchPage()'>Bill Watch</a></li>
            </ul>
        </nav>
    </header>
    <div class="about-img-container">
    <div class="about-section about">
        <div class="about-content">
            <img class='about-section-img' src="assets/img/about-section-bg.png">
        </div>
    </div>
    <section class="about-section maple-leaf">
        <div class="maple-leaf-content">
            <img class='about-section-img' src="assets/img/maple-leaf-section-bg.png">
        </div>
    </section>
    <section class="about-section document">
        <div class="document-content">
            <img class='about-section-img' src="assets/img/document-section-bg.png">
        </div>
    </section>
    <section class="about-section missing">
        <div class="">
            <img class='about-section-img' src="assets/img/missing-section-bg.png">
        </div>
    </section>
    <section class="about-section pointer">
        <div class="">
            <img class='about-section-img' src="assets/img/pointer-section-bg.png">
        </div>
    </section>
    <section class="about-section bulb">
        <div class="">
            <img class='about-section-img' src="assets/img/bulb-section-bg.png">
        </div>
    </section>
    <section class="about-section check">
        <div>
            <img class='about-section-img' src="assets/img/check-section-bg.png">
        </div>
    </section>
    <section class="about-section question">
        <div>
            <img class='about-section-img' src="assets/img/check-section-bg.png">
        </div>
    </section>
    <section  class="about-section crane">
        <div>
            <img class='about-section-img' src="assets/img/crane-section-bg.png">
        </div>
    </section>
    <section class="about-section head">
        <div>
            <img class='about-section-img' src="assets/img/head-section-bg.png">
        </div>
    </section></div>
    <footer id='about-footer-nav'>
        <div class="about-vertical-centre footer-nav">
            <nav>
                <ul>
                    <a ng-click='ctrl.toAboutPage()'>
                        <li>About </li>
                    </a>
                    <a ng-click='ctrl.toBillWatchPage()'>
                        <li> | Bill Watch | </li>
                    </a>
                    <a ng-click='ctrl.toPrivacyPage()' >
                        <li>Privacy</li>
                    </a>
                    <a ng-click='ctrl.toTermsPage()'>
                        <li> | Terms</li>
                    </a>
                </ul>
                
            </nav>
        </div>
    </footer>