<html>

<head>
    <script type="text/javascript" src="js/jq.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>

    <link rel="stylesheet" type="text/css" href='css/reset.css'>
    <link rel="stylesheet" type="text/css" href='css/styles.css'>
</head>

<body>
    <header>
        <a href="#">
            <img alt="Citizens Of Canada Logo" src="images/logo.png">
        </a>
        <nav>
            <ul>
                <a href="#">
                    <li>About</li>
                </a>
                <a href='#'>
                    <li>Bill Watch</li>
                </a>
                <a href='#'>
                    <li>Credits</li>
                </a>
            </ul>
        </nav>
    </header>
    <section class="about-section about">
        <div class="about-content">
            <img src="images/about-maple-leaf.png">
            <h1>About</h1>
            <h3>The Story</h3>
        </div>
    </section>
    <section class="about-section maple-leaf">
        <div class="maple-leaf-content">
            <img src="images/maple-icon.png">
            <p>
                The government gave Canadians LegisInfo. It allows you to track bills through parliament and the Senate
            </p>
        </div>
    </section>
    <section class="about-section document">
        <div class="document-content">
            <img src="images/document.png">
            <p>
                It allows Canadians to read bills as they go through Parliament and the Senate.
            </p>
        </div>
    </section>
    <section class="about-section missing">
        <div class="">
            <img src="images/missing.png">
            <p>
                It’s a good idea, but, we felt there was something missing.
            </p>
        </div>
    </section>
    <section class="about-section pointer">
        <div class="">
            <img src="images/pointer-icon.png">
            <p>
                Interaction!
            </p>
        </div>
    </section>
    <section class="about-section bulb">
        <div class="">
            <img src="images/bulb-icon.png">
            <p>
                How can we popularize the law, make it interactive, and not so... boring read? Bill Watch!
            </p>
        </div>
    </section>
    <section class="about-section check">
        <div>
            <img src="images/check-icon.png">
            <p>
                Now Canuks can share, debate, vote, and read Bills.
            </p>
        </div>
    </section>
    <section class="about-section question">
        <div>
            <img src="images/question-icon.png">
            <p>
                Why not give Canadians more tools that will help them keep up with government?
            </p>
        </div>
    </section>
    <section class="about-section crane">
        <div>
            <img src="images/crane-icon.png">
            <p>
                We built Citizen of Canada. The plan is to keep collecting data we find useful or interesting and present it to Canadians.
            </p>
        </div>
    </section>
    <section class="about-section head">
        <div>
            <img src="images/head-icon.png">
            <p>
                Now, we’re keeing busy thinking up more ways for Canadians to track government and be heard. Any suggestions? Dis tu!
            </p>
        </div>
    </section>
    <footer class="non-grass-footer">
        <nav>
            <ul>
                <a href="#">
                    <li>About</li>
                </a>
                <a href='#'>
                    <li>Bill Watch</li>
                </a>
                <a href='#'>
                    <li>Credits</li>
                </a>
            </ul>
        </nav>
    </footer>
</body>

</html>