    <header>
        <a ng-click="ctrl.toMainPage()">
            <img alt="Citizens Of Canada Logo" src="images/logo.png">
        </a>
        <nav>
            <ul>
                <a ng-click='ctrl.toAboutPage()'>
                    <li>About</li>
                </a>
                <a ng-click='ctrl.toBillWatchPage()'>
                    <li>Bill Watch</li>
                </a>
                <a ng-click='ctrl.toPrivacyPage()' >
                    <li>Privacy</li>
                </a>
                <a ng-click='ctrl.toTermsPage()'>
                    <li>Terms</li>
                </a>
            </ul>
        </nav>
    </header>

    <section>
        <a href="#"><img src="images/page-header-bill-watch.png"></a>
        <div ng-repeat='bill in ctrl.bills' class='bill-container'>
            <div class='bill-data'>
                <ul class="bill-data">
                    <li>Parliament: {{bill.parliament}}</li>
                    <li>Session: {{bill.session}} </li>
                    <li>Intro Date: {{bill.introduced}}</li>
                    <li>Bill Number: {{bill.number}}</li>
                    <li>Sponsor: {{bill.sponsorer}}</li>
                    <li>Event: {{bill.event}}</li>
                    <li>Type: {{bill.type}}</li>
                </ul>
                <h1>{{bill.number}} {{bill.title}}</h1>
            </div>

        </div>
    </section>

    <footer class="grass-footer">
        <nav>
            <ul>
                <a ng-click='ctrl.toAboutPage()'>
                    <li>About</li>
                </a>
                <a ng-click='ctrl.toBillWatchPage()'>
                    <li>Bill Watch</li>
                </a>
                <a ng-click='ctrl.toPrivacyPage()' >
                    <li>Privacy</li>
                </a>
                <a ng-click='ctrl.toTermsPage()'>
                    <li>Terms</li>
                </a>
            </ul>
        </nav>
    </footer>