<header class="header ng-scope">
        <a ng-click="ctrl.toMainPage()"> 
            <img class="logo" alt="Citizens Of Canada Logo" src="assets/img/logo.png">     
        </a>
    <ul class="nav-links centre-text">
    <li>
        <a>
        <div class="dropdown ng-binding">
            <my-profile-picture></my-profile-picture>{{ctrl.initUser}}
        <div class="dropdown-content">
            <ul>
        <li ng-click='ctrl.signOut()'>Sign-out</li>
    </ul>
            </div>
        </div></a>
    </li>
    <li><a ng-click="ctrl.toAboutPage()">About</a></li>
    <li><a ng-click="ctrl.toBillWatchPage()">Bill Watch</a></li>
    </ul>
</header>

<div class='main-container'>
    <div class="processing"><img class="loading-gif horizontal-centre" src="assets/img/loading.gif"></div>

    <div class="page-header">
        <img class="horizontal-centre img-responsive" src="assets/img/page-header-bill-watch.png">
    </div>


    <div ng-click='ctrl.removeMessage()' class="vote-message-container horizontal-centre centre-text">
        <div class="login-meassage">
            <p>Please <a ng-click="ctrl.toLoginPage()" class="signup-link">login</a> to vote</p>
        </div>
    </div>
        <div ng-click='ctrl.removeMessage()' class="comment-message-container horizontal-centre centre-text">
        <div class="login-meassage">
            <p>Please <a ng-click="ctrl.toLoginPage()" class="signup-link">login</a> to comment.</p>
        </div>
    </div>
    <a><div ng-repeat='bill in ctrl.bills track by $index' class='bill-container'>
        <div class='bill-data-container'>
            <ul class="bill-data horizontal-centre">
                <li><span class="bill-element-title">Bill ID:</span><span class="bill-element-content">&nbsp{{bill.id}}</span></li> |
                <li><span class="bill-element-title">Parliament:</span><span class="bill-element-content">&nbsp{{bill.parliament}}</span></li> |
                <li><span class="bill-element-title">Session:</span><span class="bill-element-content">&nbsp{{bill.session}}</span></li> |
                <li><span class="bill-element-title">Intro Date:</span><span class="bill-element-content">&nbsp{{bill.introduced}}</span></li> |
                <li><span class="bill-element-title">Bill Number:</span><span class="bill-element-content">&nbsp{{bill.number}}</span></li> | 
                <li><span class="bill-element-title">Sponsor:</span><span class="bill-element-content">&nbsp{{bill.sponsorer}}</span></li> | 
                <li><span class="bill-element-title">Event:</span><span class="bill-element-content">&nbsp{{bill.event}}</span></li> |
                <li><span class="bill-element-title">Type:</span><span class="bill-element-content">&nbsp{{bill.type}}</span></li> |
                <li><span class="bill-element-title">Publications:</span><span class="bill-element-content">&nbsp{{bill.publications}}</span></li> |
                <li><span class="bill-element-title">Publications_link:</span><span class="bill-element-content">&nbsp{{bill.publications_link}}</span>
            </ul>
            <h1 class="bill-title"><span class="bill-element-content">{{bill.number}}:&nbsp{{bill.title}}</span></h1>

            <ul class="vote-unordered-list bill-link-font">
                <li class='comment-section-height'>
                   <a class="vote-up" ng-click='ctrl.voteYea(1, bill.id, ctrl.initVotes[$index].yea,$index)'>
                        <img class='icon' height='12px' width='12px' alt='vote up png' src='assets/img/vote-up.png'/>&nbspYea
                    </a>:&nbsp{{ctrl.initVotes[$index].yea}} |<b>

                    <a class="vote-down" ng-click='ctrl.voteYea(0, bill.id, ctrl.initVotes[$index].nay, $index)'>
                    <!-- bill.nay = bill.nay + 1; -->
                        <img class='icon' height='12px' width='12px' alt='vote up png' src='assets/img/vote-down.png'/>&nbspNay</a>:&nbsp{{ctrl.initVotes[$index].nay}} | 
                    <a ng-click="showComments()">
                        <img class='icon' height='12px' width='12px' alt='vote up png' src='assets/img/comment.png'/>&nbspComments
                    </a>{{filtered.length}}
                </li>
            </ul>

                <div ng-show='pleaseShow' class="comments-container horizontal-centre">

                <div class="comment-input-container">
                    <div class="comment-profile-picture">   
                        <my-profile-picture></my-profile-picture>
                    </div>

                    <!-- TODO #∞: Add swear filter to this thing -->
                    <div class="input-send-container">
                        <form name=frmComment>

                        <textarea class="comment-textarea" ng-model-options="{ debounce: 700 }" ng-model='ctrl.billComment' placeholder="Have your say" type="text"
                        name="txtAreaComment"
                        minlength='3'
                        maxlength='120'
                        ng-pattern='regex'
                        ></textarea>

                        <button class="comment-send-btn" ng-disabled='frmComment.txtAreaComment.$invalid || frmComment.txtAreaComment.$pristine || !ctrl.billComment' class='commentBtn' ng-click='ctrl.comment(bill.id);updateComments()'>Send</button>

                        <span ng-messages='frmComment.txtAreaComment.$dirty && frmComment.txtAreaComment.$error '>
                     
                            <span class="comment-box-errmsg" ng-message='minlength'>*please leave a comment that's more than 2 characters long</span>
                            <span class="comment-box-errmsg" ng-show='frmComment.txtAreaComment.$error.pattern'>
                                *Please type only alphanumberic and/or the special characters, ,.'"!$, including whitespace
                            </span >

                        </span>
                        </form>
                    </div>
                </div>

                    <div class="new-comment-container">
                           <my-comment>
                                <div></div>
                           </my-comment>
                           <show-comment></show-comment>            
                    </div>
      <!--<div><a ng-click='ctrl.numberOfCommentsById(bill.id)'>comments</a></div> -->
                    <div ng-mdoel='ctrl.commentsSection' ng-repeat='($index, comment) in ctrl.billComments | reverseComments | filter: comment.bill_id = bill.id as filtered' class="horizontal-centre" >
                        <div class='old-comment-container'>
                            <ul>
                                <li>
                                <div class='cf' >
                                    <div class="old-comment-picture">
                                        <my-comment-picture></my-comment-picture>
                                    </div>
                                    <div class="comment-user-name">
                                       <p>{{comment.user_name}}</p>

                                    </div>
                                    <div class="user-comment">
                                        <p>{{comment.comment}}</p>
                                    </div>
                                    
                                </div>
                                </li>
                            </ul>
    <!--                         <ul>
                                <li ng-bing-html>
                                    <my-comment></my-comment>
                                </li>
                            </ul> -->
                        </div></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
<footer>
    <div class="vertical-centre-bwFooter">
        <nav>
            <ul class="centre-text nav-list">
                <a ng-click='ctrl.toAboutPage()'>
                    <li>About </li>
                </a>
                <a ng-click='ctrl.toBillWatchPage()'>
                    <li> | Bill Watch | </li>
                </a>
                <a ng-click='ctrl.toPrivacyPage()'>
                    <li>Privacy</li>
                </a>
                <a ng-click='ctrl.toTermsPage()'>
                    <li> | Terms</li>
                </a>
            </ul>

        </nav>
    </div>
</footer>