    <header>
        <a ng-click="ctrl.toMainPage()">
            <img class="logo vertical-centre" alt="Citizens Of Canada Logo" src="assets/img/logo.png">
        </a>
            <nav class="global-nav">
                <ul class="nav-links">
                <li>    {{ctrl.userName}}</li>
                    <a ng-click='ctrl.toAboutPage()'>
                        <li>About</li>
                    </a>
                    <a ng-click='ctrl.toBillWatchPage()'>
                        <li>Bill Watch</li>
                    </a>
                </ul>
            </nav>
    </header>
    <section>
        <img class="horizontal-centre page-header img-responsive" src="assets/img/page-header-bill-watch.png">
        <div ng-repeat='bill in ctrl.bills' class='bill-container'>
            <div class='bill-data-container'>
                <ul class="bill-data">
                    <li>Bill ID: {{bill.id}}</li>
                    <li>Parliament: {{bill.parliament}}</li>
                    <li>Session: {{bill.session}}</li>
                    <li>Intro Date: {{bill.introduced}}</li>
                    <li>Bill Number: {{bill.number}}</li>
                    <li>Sponsor: {{bill.sponsorer}}</li>
                    <li>Event: {{bill.event}}</li>
                    <li>Type: {{bill.type}}</li>
                    <li>Publications:{{bill.publications}}</li>
                    <li>Publications_link:{{bill.publications_link}}
                </ul>
                <h1 class="bill-title">{{bill.number}} {{bill.title}}</h1>
                <ul class='border-and-bg read-unordered-list bill-link-font'>
                    <li><a ng-click='ctrl.readBill(bill.id)'>Read</a></li>
                </ul>
                <ul class="border-and-bg vote-unordered-list bill-link-font">    
                    <li><a ng-click='bill.yea = bill.yea + 1;ctrl.voteYea(1, bill.id, bill.yea)'>Yea</a>:{{bill.yea}} | <a ng-click='bill.nay = bill.nay + 1; ctrl.voteYea(0, bill.id,bill.nay)'>Nay:{{bill.nay}}</a></li>
                </ul>
                <ul class="comment-ul">
                    <li><input ng-model='ctrl.billComment' placeholder="Comment" type="text"></input><button class ='commentBtn' ng-click='ctrl.comment(bill.id)'>Send</button>{{ctrl.userName}}</li>
                </ul>
                <div>
                    <div ng-repeat='comment in ctrl.billComments | filter: comment.bill_id = bill.id' class="comments-container">
                    {{comment.comment}} | {{comment.bill_id}} | {{comment.user_name}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="vertical-centre">
            <nav>
                <ul>
                    <a ng-click='ctrl.toAboutPage()'>
                        <li>About </li>
                    </a>
                    <a ng-click='ctrl.toBillWatchPage()'>
                        <li> | Bill Watch | </li>
                    </a>
                    <a ng-click='ctrl.toPrivacyPage()' >
                        <li>Privacy</li>
                    </a>
                    <a ng-click='ctrl.toTermsPage()'>
                        <li> | Terms</li>
                    </a>
                </ul>
                
            </nav>
        </div>
    </footer>