    <header class="login-header">
        <img class="logo horizontal-centre" alt="Citizens Of Canada Logo" src="assets/img/logo.png">
    </header>
    <div class="login-container">
        <div class="processing"><img class="loading-gif horizontal-centre" src="assets/img/loading.gif"></div>
        <div class="form-container">
                <div class="form-contents">
                    <h1 class="login-form-tag centre-text" >Welcome back.</h1>
                    <form name='frmLogin' class="login-form">

                        <ul>
                            <li>   
                                <input ng-model='ctrl.email' name='myEmail' type="email" placeholder="Email" ng-maxlength='100' class="horizontal-centre" required/>
                                <span ng-messages='frmLogin.myEmail.$dirty && frmLogin.myEmail.$error'>
                                    <span ng-message='required'>Required</span>
                                    <span ng-message='email'>Please your email address</span>
                                    <span ng-message='maxlength'>Too many characters (100)</span>
                                </span>
                            </li>
                            <li>   
                                <input name='password' class="horizontal-centre" ng-model='ctrl.password' type="password" placeholder="Password" required ng-minlength='8'/>
                                <span ng-messages='frmLogin.password.$dirty && frmLogin.password.$error'>
                                    <span ng-message='required'>Required</span>
                                    <span ng-message='minlength'>Not enough characters(8)</span>
                                </span>
                            </li>

                            <li><button class="horizontal-centre"  ng-click='ctrl.login()'>Log in</button></li>
                            <li>New to Citizens of Canada? <a ng-click="ctrl.toSignupPage()" class="signup-link">Sign-Up</a> </li>
                            <li>Don't wanna sign up? Visit as a <a ng-click='ctrl.toHomePage()' class='signup-link'>guest</a>  
                        </ul>

                    </form>
                </div>
            <div class="login-push"></div>

        </div>

    </div>
<footer>
    <div class="vertical-centre-bwFooter">
        <nav>
            <ul class="centre-text nav-list">
                <a ng-click='ctrl.toAboutPage()'>
                    <li>About </li>
                </a>
                <a ng-click='ctrl.toBillWatchPage()'>
                    <li> | Bill Watch | </li>
                </a>
                <a ng-click='ctrl.toPrivacyPage()'>
                    <li>Privacy</li>
                </a>
                <a ng-click='ctrl.toTermsPage()'>
                    <li> | Terms</li>
                </a>
            </ul>

        </nav>
    </div>
</footer>