    <header class="header ng-scope">
        <div class="vertical-centre">
            <a ng-click="ctrl.toMainPage()"> 
                  <img class="logo horizontal-centre" alt="Citizens Of Canada Logo" src="assets/img/logo.png">
            </a>
        </div>
    </header>
    <nav>
        <ul class="nav-links centre-text">
        <li>
            <a>
            <div class="dropdown">
                <my-comment-picture></my-comment-picture>{{ctrl.initUser}}
            <div class="dropdown-content">
                <ul>
            <li>Sign-out</li>
        </ul>
                </div>
            </div></a>
        </li>
        <li><a ng-click='ctrl.toAboutPage()'>About</a></li>
        <li><a ng-click='ctrl.toBillWatchPage()'>Bill Watch</a></li>
        </ul>
    </nav>
    <div id='main-section' class="section-height">
        <div class="page-header">
           <img class="horizontal-centre img-responsive" src="assets/img/page-header-cc.png">
        </div>
        <p class="horizontal-centre centre-text header-note">We’re interesting in Canadain politics. We like to gather interesting information and pass it along to you so you can be better informed.</p>
        <div class='section-img-caption'>
                <div id='img-caption'>
                    <p>1941 Grain inspection
                    Dept. of Trade and Commerce McGill, R</p>
                </div>
        </div>
        </div>
        <div class="second-section">
            <div class="page-header">
            <img class="horizontal-centre img-responsive" src="assets/img/page-header-bill-watch.png">
    </div>
    <div>
          <img class="charter-pic img-responsive horizontal-centre" alt="Citizens Of Canada Logo" src="assets/img/charter.png"> 
    </div><div class="push"></div>
    </div>
<footer>
    <div class="vertical-centre">
        <nav>
            <ul class="main-footer-nav centre-text">
                <a ng-click='ctrl.toAboutPage()'>
                    <li>About </li>
                </a>
                <a ng-click='ctrl.toBillWatchPage()'>
                    <li> | Bill Watch | </li>
                </a>
                <a ng-click='ctrl.toPrivacyPage()' >
                    <li>Privacy</li>
                </a>
                <a ng-click='ctrl.toTermsPage()'>
                    <li> | Terms</li>
                </a>
            </ul>  
        </nav>
    </div>
</footer>