    <header class="header ng-scope">
     <img class="logo" alt="Citizens Of Canada Logo" src="assets/img/logo.png">  
            <a ng-click="ctrl.toMainPage()"> 
                 
            </a>
        <ul class="nav-links centre-text">
        <li>
            <a>
            <div class="dropdown">
                <my-profile-picture></my-profile-picture>{{ctrl.initUser}}
            <div class="dropdown-content">
                <ul>
            <li ng-click='ctrl.signOut()'>Sign-out</li>
        </ul>
                </div>
            </div></a>
        </li>
        <li><a ng-click='ctrl.toAboutPage()'>About</a></li>
        <li><a ng-click='ctrl.toBillWatchPage()'>Bill Watch</a></li>
        </ul>
        
    </header>

    <div id='main-section' class="section-height">
    <div class="processing"><img class="loading-gif" src="assets/img/loading.gif"></div>
        <div class="page-header">
           <img class="horizontal-centre img-responsive" src="assets/img/page-header-welcome.png">
        </div>
        <p class="horizontal-centre centre-text header-note">We’re interesting in Canadain politics. We like to gather interesting information and pass it along to you so you can be better informed.</p>
        <div class='section-img-caption'>

        </div>
        </div>
        <div class="second-section">
            <div class="page-header">
            <img class="horizontal-centre img-responsive" src="assets/img/page-header-bill-watch.png">
    </div>
    <div>
          <img class="charter-pic img-responsive horizontal-centre" alt="Citizens Of Canada Logo" src="assets/img/charter.png"> 
    </div><div class="push"></div>
    </div>
<footer>
    <div class="vertical-centre">
        <nav>
            <ul class="main-footer-nav centre-text">
                <a ng-click='ctrl.toAboutPage()'>
                    <li>About </li>
                </a>
                <a ng-click='ctrl.toBillWatchPage()'>
                    <li> | Bill Watch | </li>
                </a>
                <a ng-click='ctrl.toPrivacyPage()' >
                    <li>Privacy</li>
                </a>
                <a ng-click='ctrl.toTermsPage()'>
                    <li> | Terms</li>
                </a>
            </ul>  
        </nav>
    </div>
</footer>