    <header>
        <a ng-click="ctrl.toMainPage()">
            <img alt="Citizens Of Canada Logo" src="images/logo.png">
        </a>
        <nav>
            <ul>
                <a ng-click='ctrl.toAboutPage()'>
                    <li>About</li>
                </a>
                <a ng-click='ctrl.toBillWatchPage()'>
                    <li>Bill Watch</li>
                </a>
                <a ng-click='ctrl.toPrivacyPage()' >
                    <li>Privacy</li>
                </a>
                <a ng-click='ctrl.toTermsPage()'>
                    <li>Terms</li>
                </a>
            </ul>
        </nav>
    </header>
    <section>
        <a href="#"><img src="images/page-header-cc.png"></a>
        <p class="header-note">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare ullamcorper diam, in ultrices nisi porttitor et. Morbi nec tristique</p>
        <img class="img-responsive" src="images/trainstation.jpg">
    </section>
    <section>
        <a href="#"><img class="img-responsive" src="images/page-header-bill-watch.png"></a>
        <p class="header-note">
            Sem, ac viverra lacus. Suspendisse imperdiet volutpat eleifend. Aliquam congue nunc tortor, non egestas ex condimentum nec. In egestas mollis risus, quis gravida libero gravida eu.
        </p>
    </section>
    <footer class="grass-footer">
        <nav>
            <ul>
                <a ng-click='ctrl.toAboutPage()'>
                    <li>About</li>
                </a>
                <a ng-click='ctrl.toBillWatchPage()'>
                    <li>Bill Watch</li>
                </a>
                <a ng-click='ctrl.toPrivacyPage()' >
                    <li>Privacy</li>
                </a>
                <a ng-click='ctrl.toTermsPage()'>
                    <li>Terms</li>
                </a>
            </ul>
        </nav>
    </footer>