<header class="header ng-scope">
        <a ng-click="ctrl.toMainPage()"> 
           
              <img class="logo horizontal-centre" alt="Citizens Of Canada Logo" src="assets/img/logo.png">
        </a>
    </header>
        <div>
            <nav class="global-nav">
                <ul class="nav-links centre-text">
                <li>
                    <a><div class="dropdown">
                        <my-comment-picture></my-comment-picture>{{ctrl.initUser}}
                        <div class="dropdown-content">
                        <ul>
                            <li>Sign-out</li>
                        </ul>
                        </div>
                    </div></a>
                </li>
                <li><a ng-click='ctrl.toAboutPage()'>About</a></li>
                <li><a ng-click='ctrl.toBillWatchPage()'>Bill Watch</a></li>
                </ul>
            </nav>
        </div>
    <section class="privacy">
    <div class="page-header">
        <img class="horizontal-centre img-responsive" src="assets/img/page-header-privacy.png">
        </div>
        <!--        -->
        <h6>Privacy Statement</h6>
        <p>
            Citizens of Canada is a website made by a guy that likes to analyze politics, economics, and, well, other people. Users can view, share and discuss the tools we use to study things and the results they bring.
        </p>
        <!---->
        <h6>What personal information do you collect about me?</h6>

        <p>Here’s a list of the information we collect about you, your:</p>

        <ul class="privacy-ul">
            <li><p>Name</p></li>
            <li><p>Email Address</p></li>
            <li><p>Date of Birth</p></li>
            <li><p>Opinions</p></li>
        </ul>
        <!---->

        <h6>When you visit us, we also collect:</h6>

        <ul>
            <li><p>Information about your computer, including your IP address, the type of operation system and browser you use</p></li>
            <li><p>What pages you visit on our site and what links you click on</p></li>
            <li><p>What other sites you’re visited recently</p></li>

        </ul>
        <!---->
        <h6>How do you use this information?</h6>
        <p>The main reasons we collect personal information from you are:</p>
        <ul>
            <li><p>Surveys</p></li>
            <li><p>Customer service</p></li>
            <li><p>Research</p></li>
        </ul>

        <p>
            If it is necessary to complete these transactions, we may disclose your information to another company. For example, there are many companies that provide survey software. We may share information to with such a company in order to conduct a survey for research on a particular subject.
        </p>
        <!---->
        <h6>Use of Person Information for Secondary Reasons:</h6>
        <p>We may also use your personal information for other, secondary reasons, including:</p>
        <ul>
            <li><p>Marketing</p></li>
        </ul>
        <!---->
        <h6>Sharing of Personal Information with Third Parties:</h6>
        <p>Sometimes we may also share your personal information with other companies, including:</p>
        <ul>
            <li><p>Google</p></li>
        </ul>
        <p>
            We share with Google for website analytics
        </p>
        <!--        -->
    </section>

         <footer id='about-footer-nav'>
        <div class="about-vertical-centre footer-nav">
            <nav>
                <ul class="centre-text">
                    <a ng-click='ctrl.toAboutPage()'>
                        <li>About </li>
                    </a>
                    <a ng-click='ctrl.toBillWatchPage()'>
                        <li> | Bill Watch | </li>
                    </a>
                    <a ng-click='ctrl.toPrivacyPage()' >
                        <li>Privacy</li>
                    </a>
                    <a ng-click='ctrl.toTermsPage()'>
                        <li> | Terms</li>
                    </a>
                </ul>
                
            </nav>
        </div>
    </footer>