    <header>
        <a ng-click="ctrl.toMainPage()">
            <img class="logo vertical-centre" alt="Citizens Of Canada Logo" src="assets/img/logo.png">
        </a>
        
            <nav class="global-nav">
                <ul class="nav-links">
               

                </ul>
            </nav>
    </header>
    <div class="signup-container">
        <div>
            <h1 class="centre-text">Track Government</h1 >
            <p class="horizontal-centre header-note centre-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at nisl non metus sollicitudin facilisis. Vivamus ut urna euismod, elementum urna non, vehicula orci. 
            </p>
        </div>
        <div class="form-container">
            <div class="centre">
                <h2 class="centre-text" >Signup, be heard.</h2>
                <form class="signup-form">
                    <div>
                    <ul>
                        <li>
                            <input ng-model='ctrl.name' type="text" placeholder="User Name"></input>
                        </li>
                        <li>   
                            <input ng-model='ctrl.newEmail' type="text" placeholder="Email"></input>
                        </li>
                        <li>   
                            <input ng-model='ctrl.newPassword' type="password" placeholder="Password"></input>
                        </li>
                        <li>   
                            <input ng-model='ctrl.password_two' type="Password" placeholder="Re-Enter Password"></input>
                        </li>  
                        <li><button ng-click='ctrl.signup()'>Sign-Up</button></li>                  
                    </ul>
                </div>
                </form>
            </div>
        </div>
    </div>
    <footer id='about-footer-nav'>
        <div class="about-vertical-centre footer-nav">
            <nav>
                <ul>
                    <a ng-click='ctrl.toAboutPage()'>
                        <li>About </li>
                    </a>
                     <a ng-click='ctrl.toBillWatchPage()'>
                        <li> | Bill Watch | </li>
                    </a>
                    <a ng-click='ctrl.toPrivacyPage()' >
                        <li>Privacy</li>
                    </a>
                    <a ng-click='ctrl.toTermsPage()'>
                        <li> | Terms</li>
                    </a>
                </ul>
                
            </nav>
        </div>
    </footer>