    <header class="ng-scope">
        <a ng-click="ctrl.toMainPage()">
            <img class="logo horizontal-centre" alt="Citizens Of Canada Logo" src="assets/img/logo.png">
        </a>
    </header>
    <div class="signup-container">
        <div class='tag-container'>
            <h1 class="tag-title centre-text">Track Government</h1>
            <p class="horizontal-centre logo-vertical-centre header-note centre-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at nisl non metus sollicitudin facilisis. Vivamus ut urna euismod, elementum urna non, vehicula orci. 
            </p>
        </div>
        <div class="form-container">
            <div class="centre">
                <h1 class=" tag-title centre-text">Signup, be heard.</h1>
                <form name='frm'  class="signup-form horizontal-centre">
                    <div>
                    <ul>
                        <li>
                            <input class="horizontal-centre" name='uname' ng-model='ctrl.uname' type="text" placeholder="User Name" ng-minlength ="5" ng-maxlength ="20" required 
                            />
                            <span ng-messages="frm.uname.$dirty && frm.uname.$error">
                                <span ng-message="required">Required</span>
                                <span ng-message="minlength">Not enough characters (2)</span>
                                <span ng-message='maxlength'>Too many characters (20)</span>
                            </span>
                        </li>
                        <li>   
                            <input class="horizontal-centre" ng-model='ctrl.newEmail' type="email" name='myEmail' placeholder="Email" ng-minlength='2' required/><span ng-messages='frm.myEmail.$dirty && frm.myEmail.$error'>
                               <span ng-message="required">Required</span>
                               <span ng-message='email'>This is not an email</span>
                                <span ng-message="minlength">Not enough characters (2)</span>
                                <span ng-message='maxlength'>Too many characters (20)</span>
                            </span>
                        </li>
                        <li>   
                            <input class="horizontal-centre" name='password' ng-model='ctrl.newPassword' type="password" placeholder="Password" ng-minlength='8' required/>
                            <span ng-messages='frm.password.$dirty && frm.password.$error'>
                               <span ng-message="required">Required</span>
                                <span ng-message="minlength">Not enough characters (8)</span>
                            </span>
                        </li>
                        <li>   
                            <input class="horizontal-centre" name='pwMatch' ng-model='ctrl.password_two' type="Password" placeholder="Re-Enter Password" ng-minlength='8' required/>
                            <span ng-messages='frm.pwMatch.$dirty && frm.pwMatch.$error'>
                                <span ng-message="required">Required</span>
                                <span ng-message="minlength">Not enough characters (8)</span>
                            </span>
                        </li>  
                        <li><button class="horizontal-centre" ng-disabled='frm.$invalid' ng-click='ctrl.signup(frm.$valid)'>Sign-Up</button></li>                  
                    </ul>
                </div>
                </form>
            </div>
            <div class="signup-push"></div>
        </div>
    </div>
    <footer id='about-footer-nav'>
        <div class="about-vertical-centre footer-nav">
            <nav>
                <ul class='centre-text'>
                    <a ng-click='ctrl.toAboutPage()'>
                        <li>About </li>
                    </a>
                     <a ng-click='ctrl.toBillWatchPage()'>
                        <li> | Bill Watch | </li>
                    </a>
                    <a ng-click='ctrl.toPrivacyPage()' >
                        <li>Privacy</li>
                    </a>
                    <a ng-click='ctrl.toTermsPage()'>
                        <li> | Terms</li>
                    </a>
                </ul>
                
            </nav>
        </div>
    </footer>