<header class="header ng-scope">
            <a ng-click="ctrl.toMainPage()">      <img class="logo" alt="Citizens Of Canada Logo" src="assets/img/logo.png">  
            </a>
        <ul class="nav-links centre-text">
        <li>
            <a>
            <div class="dropdown ng-binding">
                <my-comment-picture></my-comment-picture>{{ctrl.initUser}}
            <div class="dropdown-content">
                <ul>
            <li>Sign-out</li>
        </ul>
                </div>
            </div></a>
        </li>
        <li><a ng-click="ctrl.toAboutPage()">About</a></li>
        <li><a ng-click="ctrl.toBillWatchPage()">Bill Watch</a></li>
        </ul>
        
    </header>
	<div class="terms text">
		<div class="centre">
		<div class="page-header">
	    <img class="horizontal-centre img-responsive" src="assets/img/page-header-terms.png"></div>
		<h6 class="bold">Terms and conditions of use:</h6>
		<h6>1. Introduction</h6>
		<ul>
			
			<li>1.1	These Terms and Conditions govern your access to and use of the services, including our various websites, SMS, APIs, email notifications, applications, buttons, widgets, ads, commerce services and any information, text, graphics, photos or other materials uploaded, downloaded or appearing on the services. Your access to and use of the Services are conditioned on your acceptance of and compliance with these terms. By accessing or using the services you agree to be bound by these terms.</li>
			<li>1.2	By using our website, you accept these terms and conditions in full; accordingly, if you disagree with these terms and conditions or any part of these terms and conditions, you must not use our website.</li>
			<li>1.3	If you register with our website, submit any material to our website or use any of our website services, we will ask you to expressly agree to these terms and conditions.</li>
			<li>1.4	You must be at least 14 years of age to use our website; and by using our website or agreeing to these terms and conditions, you warrant and represent to us that you are at least 14 years of age. If you are younger than 14 please get your parents’ permission to visit the site.</li>
			<li>1.5	Our website uses cookies; by using our website or agreeing to these terms and conditions, you consent to our use of cookies in accordance with the terms of our [privacy and policy.</li>
		</ul>
		<h6>2.  Credit</h6>
		<ul>
			<li>2.1	This document was created using a template from SEQ Legal (http://www.seqlegal.com).</li>
		</ul>
		<h6>3.  Copyright notice</h6>
		<ul>
			<li>3.1	Copyright (c) 2014 Citizens Of Canada.</li>
			<li>3.2	Subject to the express provisions of these terms and conditions:</li>
			<li>(a)	we, together with our licensors, own and control all the copyright and other intellectual property rights in our website and the material on our website; and</li>
			<li>(b)	all the copyright and other intellectual property rights in our website and the material on our website are reserved.</li>
		</ul>
		<h6>4.  Licence to use website</h6>
		<ul>
			<li>4.1	You may:</li>
			<li>(a)	view pages from our website in a web browser;</li>
			<li>(b)	download pages from our website for caching in a web browser;</li>
			<li>(c)	print pages from our website;	</li>
			<li>(d)	upload specific content we allow to our website where we allow you to do so.</li>
			<li>4.2	Except as expressly permitted by Section 4.1 or the other provisions of these terms and conditions, you must not download any material from our website or save any such material to your computer.</li>
			<li>4.3	Our CC is only meant as entertainment. We are not offering you legal advice or that our content is accurate in anyway. </li>
			<li>4.4	Except as expressly permitted by these terms and conditions, you must not edit or otherwise modify any material on our website.</li>
			<li>4.5	Unless you own or control the relevant rights in the material, you must not:</li>
			<li>(a)	republish material from our website (including republication on another website);</li>
			<li>(b)	sell, rent or sub-license material from our website;</li>
			<li>(c)	show any material from our website in public;</li>
			<li>(d)	exploit material from our website for a commercial purpose; or</li>
			<li>(e)	redistribute material from our website.</li>
			<li>4.6	Notwithstanding Section 4.5, you may redistribute our newsletter if available in any form to any person.</li>
			<li>4.7	We reserve the right to restrict access to areas of our website, or indeed our whole website, at our discretion; you must not circumvent or bypass, or attempt to circumvent or bypass, any access restriction measures on our website.</li>
		</ul>
		<h6>5.  Acceptable use</h6>
		<ul>
			<li>5.1	You must not:</li>
			<li>(a)	use our website in any way or take any action that causes, or may cause, damage to the website or impairment of the performance, availability or accessibility of the website;</li>
			<li>(b)	use our website in any way that is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity;</li>
			<li>(c)	use our website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software;</li>
			<li>(d)	conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to our website without our express written consent;</li>
			<li>(e)	[access or otherwise interact with our website using any robot, spider or other automated means;]</li>
			<li>(f)	violate the directives set out in the robots.txt file for our website; or </li>
			<li>(g)	use data collected from our website for any direct marketing activity including without limitation email marketing, SMS marketing, telemarketing and direct mailing.</li>
		</ul>
		<h6>6.	Registration and accounts</h6>
		<ul>
			<li>6.1	To be eligible for an individual account on our website under this Section 6, you must [be at least 14 years of age or have the permission of your patents to visit CC.</li>
			<li>6.2	You may register for an account with our website by [completing and submitting the account registration form on our website, and clicking on the verification link in the email that the website will send to you].</li>
			<li>6.3	You must notify us in writing immediately if you become aware of any unauthorised use of your account.</li>
			<li>6.4	You must not use any other person's account to access the website.</li>
		</ul>
		<h6>7.	User IDs and passwords</h6>
		<ul>
			<li>7.1	If you register for an account with our website, you will be asked to choose a user ID and password.</li>
			<li>7.2	Your user ID must not be liable to mislead and must comply with the content rules set out in Section 10; you must not use your account or user ID for or in connection with the impersonation of any person. </li>
			<li>7.3	You must keep your password confidential.</li>
			<li>7.4	You must notify us in writing immediately if you become aware of any disclosure of your password.</li>
			<li>7.5	You are responsible for any activity on our website arising out of any failure to keep your password confidential, and may be held liable for any losses arising out of such a failure.</li>
		</ul>
		<h6>8.	Cancellation and suspension of account</h6>
		<ul>
			<li>8.1	We may:</li>
			<li>(a)	suspend your account;</li>
			<li>(b)	cancel your account; and/or</li>
			<li>(c)	edit your account details,</li>
			<li>	at any time in our sole discretion without notice or explanation.</li>
			<li>8.2	You may cancel your account on our website by means we provide.</li>
		</ul>
		<h6>9.	Your content: licence</h6>
		<ul>

			<li>9.1	In these terms and conditions, "your content" means all works and materials (including without limitation text, graphics, images, audio material, video material, audio-visual material, scripts, software and files) that you submit to us or our website for storage or publication on, processing by, or transmission via, our website.</li>
			<li>9.2	You grant to us a worldwide, irrevocable, non-exclusive, royalty-free licence to use, reproduce, store, adapt, publish, translate and distribute your content in any existing or future media / reproduce, store and publish your content on and in relation to this website and any successor website / reproduce, store and, with your specific consent, publish your content on and in relation to this website.</li>
			<li>9.3	You grant to us the right to sub-license the rights licensed under Section 9.2.</li>
			<li>9.4	You grant to us the right to bring an action for infringement of the rights licensed under Section 9.2.</li>
			<li>9.5	You hereby waive all your moral rights in your content to the maximum extent permitted by applicable law; and you warrant and represent that all other moral rights in your content have been waived to the maximum extent permitted by applicable law.</li>
			<li>9.6	[You may edit your content to the extent permitted using the editing functionality made available on our website.]</li>
			<li>9.7	Without prejudice to our other rights under these terms and conditions, if you breach any provision of these terms and conditions in any way, or if we reasonably suspect that you have breached these terms and conditions in any way, we may delete, unpublish or edit any or all of your content.</li>
			<li>9.8 	Please remember that other can view anything you post and there are real life consequences to them so only upload what you are comfortable with.</li>
		</ul>
		</div>
	</div>
   
 <footer id='about-footer-nav'>
        <div class="about-vertical-centre footer-nav">
            <nav>
                <ul class="centre-text">
                    <a ng-click='ctrl.toAboutPage()'>
                        <li>About </li>
                    </a>
                    <a ng-click='ctrl.toBillWatchPage()'>
                        <li> | Bill Watch | </li>
                    </a>
                    <a ng-click='ctrl.toPrivacyPage()' >
                        <li>Privacy</li>
                    </a>
                    <a ng-click='ctrl.toTermsPage()'>
                        <li> | Terms</li>
                    </a>
                </ul>
                
            </nav>
        </div>
    </footer>