@media (min-width: 360px) and (max-width: 719px){
	
	body .header{
		width: 100%;
		height: 262px;

	}
	body .ccLogo{

	}

	.logo{
		padding: 17px 0 10px 0;
		display: block;
		position: relative;
		top:0px;
		transform: translateY(0%);
		margin: auto;
	}

	body .nav-links img{
		position: relative;
		top: 1px;
		width: 16px;
		height: 16px;
	}

	.page-header{
		padding:80px 0 0 0;
	}

	body .vertical-centre{
		position: relative;
		/* margin-top: 25px; */
		top: calc(50% + 0px);
		transform: translateY(-50%);
	}

	.header-note{
		max-width: 320px;
	}

	.signup-form input{
		width: 100%;
		margin-bottom: 10px;
		max-width: 320px;
		padding: 5px;
		border-radius: 5px;
		border: 1px solid grey;
	}
	.signup-form button{
		width: 100%;
		max-width: 330px;
		padding: 5px;
		border: 1px solid grey;
	}

	.signup-push{
		height: 200px;
	}

	.login-push{
		height: 100px;
	}


	.login-form input{
		width: 100%;
		margin-bottom: 10px;
		max-width: 320px;
		padding: 5px;
		border: 1px solid grey;
	}
	.login-form button{
		width: 100%;
		max-width: 332px;
		padding: 5px;
		border: 1px solid grey;
	}
	
	.header a{
		min-width: 48px;
		min-height: 48px;
	}
	body .nav-links{
		float:none;
	    float: none;
	    color: white;
	    /* display: table; */
	    background: black;
	    padding: 10px 0 0 0;
		}
	body .nav-links li{
			vertical-align: middle;
		}
	.nav-links a {
		min-height: 48px;
		min-width: 48px;
		display: block;
	}

	.global-nav{
		/* margin-top: 20px; */
	}

	.nav-linls {
		width: 100%;
		max-width: 360px;
	}
	/*6 pix fix*/
	body .about-section{
		height: 5932px;
	}
	body .about-img-container{
		/*max-width: 360px;*/
		overflow: hidden;
		/*margin-top: 60px; */
	}

	.img-responsive{
/*		width: 100%;
		max-width: 320px;
		height:auto;*/

	}

	.section-img-caption, .section-img-caption p{
		visibility: hidden;
	}

	.push{
		height: 200px;
	}

	body .main-container{
		overflow: hidden;
	}

	body .comments-container{
		max-width: 330px;
		background: #f0f0f0;
		text-align: left;

	}
	body .new-comment-container{
		
	}

	body .new-comment{
		height: 80px;
	}

	body .old-comment-container{
		height: 80px;
	}

	body .main-footer-nav{
		padding:50px 0 0 0;
	}

	.nav-list{
		padding:50px 0 0 0;
	}

}
/*end of 360px*/

/*Tablets*/
@media (min-width: 720px){
	.login-push{
		height: 438px;
	}
	.signup-push{
		height: 258px;
	}
	.signup-input-list{
		padding: 0px 0 0 0;
	}

	body .logo{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		padding: 0 0 0 20px;
	}

	body .nav-links{
		float:right;
		position:relative;
		top:50%;
		transform: translateY(-50%);
	}

	body .header-note{
		padding:50px 0 0 0;
	}

	body .tag-title{
		padding: 50px 0 0 0;
	}

	body .login-head-tag{
		padding: 50px 0 0 0;
	}

	body .login-form-tag{
		padding: 100px 0 0 0;
	}

	body .login-header-note{
		max-width: 320px;
		padding: 0px 0 0 0;
	}


	body .about-img-container{
		overflow: hidden;
	}
}

@media (min-width: 960px){
	.nav-links{
		float: right; 
		text-align: right
	}

	body .logo{
		position: relative;
		top:50%;
		transform: translateY(-50%);
		padding: 0 0 0 20px;
	}


	.nav-links{
		position: relative;
		top:50%;
		transform: translateY(-50%);
	}

	body .comments-container{

		max-width: 400px;
	}
	body .new-comment-container{
		max-width: 400px;
		padding: 20px 0 20px 0;
	}
	body .old-comment-container{
		padding:20px 0 20px 0;
	}
}

.header ul{
	z-index: 9999;
/*	position: relative;
	top:50%;
	transform: translateY(-50%);*/
}

header{
	height: 50px; 
	background-color: black;
}

header a{
	color: white;
}
header ul li{
	display: inline;
	padding: 0 10px 0 0;
}

a{
	cursor: pointer;
}

.privacy{
	margin:0 auto;
}

.global-nav{
	background: black;
	color: white;
}

.icon{
	position: relative;
	top: 2px;
	bottom: 0px;
}

.form-div{
	text-align: center;
}

.form-div span{
	width: 420px;
	background-color: beige;
}

.signup-form input{
		width: 100%;
		margin-bottom: 10px;
		max-width: 400px;
		padding: 5px;
		border-radius: 5px;
		border: 1px solid grey;
}

	.login-form input{
		width: 100%;
	    margin-bottom: 10px;
	    max-width: 400px;
	    padding: 5px;
	    border-radius: 5px;
	    border: 1px solid grey;
	}

	.form-container{
		text-align: center;
	}

.nav-links img{
	position: relative;
	top:1px;
	width: 16px;
	height: 16px;
}

/*######## DROP DOWN ##########*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content{
	color: black;
}

/*###### DROP DOWN END #######*/

.page-header{
	margin-top: 50px;
	margin-bottom: 50px;
}

.header-note{
	font-size: 1.2857em;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	line-height: 1.57em;
	text-align:;
}

.inpYea{
	border: none;
	background-color: #f1f1f1;
	color: black;
}

.section-height{
	height: 592px;
}

.about-section{
	width: 100%;
	margin:0 auto;
	line-height: 0em;
}

.about-section-img{
	position: relative;
	left: 50%;
	margin-left: -800px;
	 /*padding-top: 262px; */
}

	.charter-pic{
		padding: 0px 0 0 0;
		width: 50%;
		height: 50%;
	}


/*#section-img-caption {
    width: 20%;
    height: 70px;
    background-color: black;
    color: white;
    opacity: 0.5;
    position: relative;
    float: right;
    top: 200px;
    margin-right: 10px;
    padding: 10px;
}*/
#img-caption{
	opacity: 1;
}

#main-section{
	background-image: url("../img/trainstation.jpg");
	background-size: cover;
}

.second-section{
/*	background-image: url("../img/charter.jpeg");
	background-size: cover;

*/}

footer{
	background-image: url("../img/footer-grass.png");
	/*background-color: black;*/
	background-repeat: repeat-x;
	/*background-attachment: fixed;*/
	width: 100%;
	height: 100px;
}
footer div{
	position: relative;
	bottom: 0;
	color: white;
}

footer div li{
	display: inline;
}

.vertical-centre-bwFooter{
	position: relative;
    /* margin-top: 25px; */
    top: calc(50% + 25px);
    transform: translateY(-50%);
}

.main-footer-nav{
	padding: 50px 0 0 0;
}

.horizontal-centre{
	display: block;
	margin-left:auto;
	margin-right:auto;
}
.vertical-centre{
	position: relative;
	margin-top: 25px; 
	top: calc(50% + 0px); 
	transform: translateY(-50%); 
	}
.about-vertical-centre{
	top: calc(50%);
	transform: translateY(-50%);
}
.footer-nav{
	bottom: 0;
}

#about-footer-nav{
	background: black;
	height: 50px;
}

.header-note{
	min-width: 330px;
	max-width: 460px;
}
/*bill watch*/

.bill-container{
	border: 1px solid white;
	text-align: center;
}

.bill-container:hover{
	border-top:1px solid black;
	border-bottom:1px solid black;
	border-left-style: none; 
	border-right-style: none; 
	background-color: #f1f1f1;
}

.bill-data li{
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.bill-data{
	margin-bottom: 28px;
	visibility: hidden;
}

ul.bill-data li:hover {
    background-color: #FDFDFD;
}

.bill-container:hover ul{
	visibility: visible;
}

.bill-container:hover .new-comment-container{
	visibility: visible;
}
.bill-container:hover .bill-title{ 
	visibility: visible;
}

.bill-container:hover .comment-input-container{
	visibility: visible;
}
.bill-element-title{
	font-weight: 700;
	font-size: 12px;
}
.bill-title{
	font-family: "Times New Roman", Times, serif;
	font-size: 48px;
	color: #222222;
	font-style: italic;
}

.comments-container{ 
	background-color: #f0f0f0;
	/*visibility: hidden; */
	text-align: left;
}

.comment-profile-picture{
	float: left;
	display: black;
	padding: 0x 0 0 0;
}

.comment-input-container{

/*	text-align: left;*/
	padding: 0 0px 30px 0px;
	/*visibility: hidden;*/
}

.comment-textarea{
	height:50px;
	width: 100%;
	overflow: hidden;	
	resize: none;
}

.input-send-container{
	padding: 0 0px 10px 60px;
}

.comment-box-errmsg{
	font-family: sans-serif;
	font-size: 12px;
	color: red;
	font-style: italic;
}

.comment-button{
	width: 100%;
}
.comment-button button{
	float: right;
}
.new-comment-container{
	/*visibility: hidden;*/
}

.old-comment-picture{
	float: left;
}

.comment-user-name{
	padding: 0 0 0 60px;	
	color: #EE0000;
	font-weight: bold;
	font-size: 20px;
}

.user-comment{	
	/*height: 100%;*/
	padding: 0 0 0 60px;
	color:#222222;
	font-family: sans-serif;
	font-size: 12px;
}

.border-and-bg{
	border:1px solid #a4a4a4;

	background-color: #f1f1f1;
}
.read-unordered-list{
	width: 100px;
	display: inline-block;
	margin-top: 22px;
	margin-bottom: 11px;
	display:hidden;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	visibility: hidden;
}

.bill-link-font a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;	
}

.vote-unordered-list{
	width: 250px;
	display: inline-block;
	visibility: hidden;
	margin: 20px 0 20px 0;
	background-color: #f6f6F6;
	font-family: arial, Helvetica, sans-serif;
	font-size: 12px;

}

.comment-ul{
	visibility: hidden;
}

.commentBtn{
	width: 50px;
}

.text{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #222;
	/*margin-left: 40px;*/
}
.bold{
	font-weight: bold;
	line-height: 1.57;
}

.signup-container{
	width: 100%;
	/* height: 592px; */
	background-image: url("../img/signup-bg.png");
	background-position: center;
	background-size: cover;
}
.login-container{
	width: 100%;
	/*height: 592px;*/
	background-image: url("../img/login-section-bg.png");
	background-position: center;
	background-size: cover;
	align:;
}

.centre{
	margin: 0 auto;
	/* width: 500px; */
	align:center;
	padding: auto;
}

.centre-text{
text-align: center;
}

.privacy p{
	margin: 0 0 15px 0;
	line-height: 1.57;
	width: 75%;
}

.privacy ul{
	list-style-type:disc;
	margin: 0 0 15px 40px;
}

.terms{
	display: block;
	margin:20 auto;
	/*max-width: 960px;*/
	line-height: 22px;
}

.terms ul{
		margin: 0 0 22px 40px;
		list-style-type:disc;
}
.terms h6{
	font-weight: bold;
	margin-bottom: 22px;
}

/*Font*/
h1, h2, h3, h4 {
	margin-bottom: 10px;
}
html {font-size: 1em;}

body {
  background-color: white;
  /* font-family: serif; */
  font-weight: 0;
  /* line-height: 1.45; */
}

p {/* margin-bottom: 1.3em; */}

h1, h2, h3, h4 {
  /*margin: 1.414em 0 0.5em;*/
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  /* margin-top: 0; */
  font-size: 4.236em;
}

h2 {font-size: 2.618em;}

h3 {font-size: 1.618em;}

h4 {font-size: 1em;}

small, .font_small {font-size: 0.618em;}
/*\ No newline at end of file*/